<mat-sidenav-container>
    <mat-sidenav opened mode="side">
      <mat-list>
        <mat-list-item> 
          <button mat-button color="primary" (click)="setAction('alta')">Nuevo alumno</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button color="primary" (click)="setAction('listado')">Listado Alumnos</button>
        </mat-list-item>
        
        <mat-list-item>
          <button mat-raised-button color="accent" (click)="reloadJson()" *ngIf="!listadoAlumnos.length">Recargar JSON</button>
        </mat-list-item>
       
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-table *ngIf="action=='listado'" [alumnos]="listadoAlumnos" (alumnoEditar)="editAlumno($event)" (alumnoEliminar)="removeAlumno($event)"></app-table>

    </mat-sidenav-content>
</mat-sidenav-container>